@model IEnumerable<DataAccessLayer.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<div class="alert alert-primary"><h4>مدیریت گروه بندی محصولات سایت</h4></div>
<br />
<hr />
<p>
    <a asp-action="Create" class="btn btn-success">ساخت گروه جدید</a>
</p>
<table class="table">
    <thead class="table table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
