@model IEnumerable<DataAccessLayer.Models.Product>
@{
    ViewData["Title"] = "ShowAllProducts";
}


<!-- Start Page Banner -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>فروشگاه</h2>

            <ul>
                <li><a href="/">صفحه اصلی</a></li>
                <li>فروشگاه</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Banner -->
<!-- Start Shop Area -->
<section class="shop-area bg-ffffff pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <aside class="widget-area">
                    <div class="widget widget_search">
                        <form class="search-form" asp-action="search" asp-controller="product" method="post">
                            <label>
                                <span class="screen-reader-text">جستجو:</span>
                                <input type="search" class="search-field" placeholder="جستجو..." name="search">
                            </label>
                            <button type="submit">
                                <i class='bx bx-search-alt'></i>
                            </button>
                        </form>
                    </div>

                    <div class="widget widget_categories">
                        <h3 class="widget-title">دسته بندی ها</h3>

                        <ul class="categories">

                            @foreach (var item in ViewData["categories"] as IEnumerable<DataAccessLayer.Models.Category>)
                            {
                                <li>
                                    <a href="/product/ShowProductsOfSomeCategory/@item.CategoryId" class="nav-link">
                                        <i class="flaticon-desktop-computer"></i>
                                        @item.CategoryName
                                    </a>
                                </li>
                            }

                        </ul>
                    </div>

                    @*<div class="widget widget_price">
                            <h3 class="widget-title">قیمت</h3>

                            <form class="price-range-content">
                                <div class="price-range-bar" id="range-slider"></div>
                                <div class="price-range-filter">
                                    <div class="price-range-filter-item d-flex align-items-center order-1 order-xl-2">
                                        <h4>محدوده:</h4>
                                        <input type="text" id="price-amount" readonly>
                                    </div>

                                    <div class="price-range-filter-item price-range-filter-button order-2 order-xl-1">
                                        <button class="btn btn-red btn-icon">فیلتر</button>
                                    </div>
                                </div>
                            </form>
                        </div>*@



                <div class="widget widget_best-seller-products">
                    <h3 class="widget-title">پرفروش ترین ها</h3>


                    @foreach (var item in ViewData["TopSales"] as IEnumerable<DataAccessLayer.Models.Product>)
                    {
                        <article class="item">
                            <a href="/product/productsinglepage/@item.ProductId" class="thumb">
                                <span class="fullimage cover bg1"><img src="/images/@(item.ProductId).jpg"/></span>
                            </a>
                            <div class="info">
                                <h4 class="title usmall">
                                    <a href="/product/productsinglepage/@item.ProductId">@item.Name</a>
                                </h4>
                                <span>@item.CreateDate.Date</span>
                                <ul class="rating">
                                    <li><i class='bx bxs-star'></i></li>
                                    <li><i class='bx bxs-star'></i></li>
                                    <li><i class='bx bxs-star'></i></li>
                                    <li><i class='bx bxs-star'></i></li>
                                    <li><i class='bx bxs-star'></i></li>
                                </ul>
                            </div>
                        </article>
                    }

                </div>


                </aside>
            </div>

            <div class="col-lg-8 col-md-12">
                <div class="products-filter-options">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-4">
                            <div class="d-lg-flex d-md-flex align-items-center">

                                <span class="sub-title d-none d-lg-block d-md-block">نمایش:</span>

                                <div class="view-list-row d-none d-lg-block d-md-block">
                                    <div class="view-column">
                                        <a href="#" class="icon-view-two">
                                            <span></span>
                                            <span></span>
                                        </a>

                                        <a href="#" class="icon-view-three active">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4">
                            <p>نمایش 1 - 18 از 100</p>
                        </div>

                        <div class="col-lg-4 col-md-4">
                            <div class="products-ordering-list" style="padding:20px">
                                <select id="filter">
                                    <option value="1">بر اساس قیمت: گران به ارزان</option>
                                    <option value="5">بر اساس پر فروش ترین ها</option>
                                    <option value="2">مرتب سازی پیش فرض</option>
                                    @*<option>بر اساس محبوبیت</option>*@
                                    <option value="3">بر اساس آخرین ها</option>
                                    <option value="4">بر اساس قیمت: ارزان به گران</option>
                                </select>
                            </div>
                            <button onclick="xx()" class="nav-link btn btn-outline-primary" style="width:260px;">جستجو</button>

                        </div>
                    </div>
                </div>
                <hr />
                <br />

                <div id="products-collections-filter" class="row">
                    @if (ViewBag.catid != null)
                    {

                    }

                    @foreach (var item in Model)
                    {
                        <input type="hidden" value="@item.CategoryId" id="catid" />
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-shop-products">
                                <div class="shop-products-image">
                                    <a href="/product/productsinglepage/@item.ProductId"><img src="/images/@(item.ProductId).jpg" alt="image"></a>
                                    <div class="tag">جدید</div>
                                    <ul class="shop-action">
                                        <li>
                                            <a href="cart.html">
                                                <i class="flaticon-shopping-cart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="wishlist.html"><i class="flaticon-heart"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#productsQuickView"><i class="flaticon-view"></i></a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="shop-products-content">
                                    <h3>
                                        <a href="/product/productsinglepage/@item.ProductId">@item.Name</a>
                                    </h3>
                                    <ul class="rating">
                                        <li><i class='bx bxs-star'></i></li>
                                        <li><i class='bx bxs-star'></i></li>
                                        <li><i class='bx bxs-star'></i></li>
                                        <li><i class='bx bxs-star'></i></li>
                                        <li><i class='bx bxs-star'></i></li>
                                    </ul>
                                    <span>@item.Price تومان</span>
                                </div>
                            </div>
                        </div>
                    }




                    <div class="col-lg-12 col-md-12">
                        <div class="pagination-area">
                            <a href="#" class="prev page-numbers">
                                <i class='flaticon-right-arrow'></i>
                            </a>
                            <a href="#" class="page-numbers current" aria-current="page">1</a>
                            <span class="page-numbers">2</span>
                            <a href="#" class="page-numbers">3</a>
                            <a href="#" class="page-numbers">4</a>
                            <a href="#" class="next page-numbers">
                                <i class='flaticon-left-arrow'></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Shop Area -->

@section scripts
{
    <script>
        function ShowProductsOfsingleCategory(id) {
            $.ajax({
                url: "/product/ShowProductsOfSomeCategory",
                data: { categoryid: id }

            }).done(function (re) { $("#products-collections-filter").fadeOut(800, function () { $(this).html(re).fadeIn(800) }) })
        }


        function xx() {
            $.ajax({
                url: "/product/filter",
                data: { test: $('#filter :selected').val()}
            }).done(function (re) { $("#products-collections-filter").fadeOut(800, function () { $(this).html(re).toggle(800) }) })

        }

    </script>
}